.container{
	width:100%;
	max-width:1200px;
	margin:0 auto;
}

.container.fullwidth{ 
	max-width:100%;
}

.row:before, 
.row:after {
	content:"";
    display: table;
    clear:both;
}


[class*='col-']{
	padding:0 0.8333333333333333%;
	float:left;
	min-height:1px;
	width:8.333333333333333%;
	margin:0.8333333333333333% 0;
}

.first{
	margin-left:0;
	padding-left:0;
}

.last{
	margin-right:0;
	padding-right:0;
}

.col-1{
	width:8.333333333333333%;
}

.col-2{
	width:16.66666666666667%;
}

.col-3{
	width:25%;
}

.col-4{
	width:33.33333333333333%;
}

.col-5{
	width:41.66666666666667%;
}

.col-6{
	width:50%;
}

.col-7{
	width:58.33333333333333%;
}

.col-8{
	width:66.66666666666666%;
}

.col-9{
	width:75%;
}

.col-10{
	width:83.33333333333333%;
}

.col-11{
	width:91.66666666666666%;
}

.col-12{
	width:100%;
}

