@import url('css/base.css');
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #373737;
}


/*---------------------------------------------------------
  Login Page 
-----------------------------------------------------------*/

.elms-login-page {
    border-top: 40px solid #ffea00;
}


/* Logo */

.elms-login-page .logo {
    margin: 120px 0;
}


/* Form */

.login-form {
    background: #3b3b3b;
    padding: 32px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
}

.login-form .input-grp {
    margin-bottom: 20px;
}

.login-form .input-grp.button {
    margin-bottom: 0;
}

.login-form label {
    font-weight: 400;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 10px;
    border: 0;
}

.login-form input[type="submit"] {
    background: #ffea00;
    color: #000;
    font-weight: 600;
    border-radius: 3px;
    width: 100%;
    padding: 18px 15px;
    margin-top: 10px;
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background: #ebdb26;
}


/* Error Messages */

.login-form .message {
    padding: 5px 7px;
    font-size: 12px;
    border: 1px solid #ccc;
    background: none;
    color: #ccc;
    margin-bottom: 12px;
}

.login-form .error {
    border: 1px solid #f59999;
    color: #f59999;
}

.login-form .success {
    border: 1px solid #ddffdd;
    color: #ddffdd;
}


/*---------------------------------------------------------
  Header
-----------------------------------------------------------*/


/* Header */

.welcome-message {
    margin-top: 12px;
}

.welcome-message b {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    line-height: 24px;
}

.welcome-message p {
    font-size: 12px;
    color: #8c8c8c;
}


/* Navigation - Primary */

nav.primary {
    width: 100%;
    background: #000;
    color: #fff;
}

nav.primary ul {
    list-style: none;
}

nav.primary ul li {
    float: left;
}

nav.primary ul li a,
nav.primary ul li a:active,
nav.primary ul li a:link,
nav.primary ul li a:visited {
    display: inline-block;
    padding: 7px 12px;
    color: #fff;
    background: #434343;
    margin-right: 1px;
}

nav.primary ul li.active a,
nav.primary ul li a:hover {
    background: #ffea00;
    color: #000;
}


/*-------------------------------------------------------
     Home Page
---------------------------------------------------------*/

.filter {
    background: #f3f3f3;
    margin: 20px 0;
}

.filter .col-3 {
    margin: 0;
    padding: 0;
}

.filter .col-9 {
    border: 1px solid #eaeaea;
    margin: 0;
}

#filter-form .col-3 {
    padding: 18px 15px;
}

#filter-form .input-grp {
    position: relative;
}

#filter-form label {
    font-weight: 500;
}

#filter-form label i {
    font-weight: 400;
}

#filter-form input[type="text"],
#filter-form select {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: inset 0px 0px 2px #aeaeae;
    position: relative;
    font-size: 12px;
    line-height: 18px;
    cursor: pointer;
}

#filter-form .input-grp .fa {
    position: absolute;
    top: 27px;
    right: 0px;
    z-index: 1;
    font-size: 12px;
    color: #a9a9a9;
    border-left: 1px solid #dbdbdb;
    height: 28px;
    padding: 7px 10px;
}

#elms-filter-submit {
    background: #000;
    color: #fff;
    display: block;
    padding: 10px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 24px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}

#elms-filter-submit:hover {
    background: #373737;
}

.select {
    position: relative;
}

.select-styled {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: inset 0px 0px 2px #aeaeae;
    position: relative;
    font-size: 12px;
    line-height: 18px;
    cursor: pointer;
    padding: 6px 10px;
    background: #fff;
    border: 1px solid #ccc;
}

.select-styled::after {
    font-family: "FontAwesome";
    content: "\f0d7";
    font-size: 16px;
    border-left: 1px solid #ccc;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
    padding: 6px 10px;
    color: #ccc;
}

.select-options {
    list-style: none;
    background: #fff;
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    display: none;
}

.select-options li {
    padding: 5px 10px;
    border-bottom: 1px solid #edecec;
    font-size: 12px;
    border-left: 1px solid #edecec;
    border-right: 1px solid #edecec;
    cursor: pointer;
}

.select-options li:hover {
    background: #edecec;
}

#elms-filter-select-source {
    display: none;
}

.export-as {
    width: 100%;
    padding: 18px 10px;
    background: #fdea5c;
    border-bottom: 3px solid #fadc27;
    font-size: 14px;
    border-left: 1px solid #eaeaea;
    cursor: pointer;
    color: #434343;
}

.export-as .fa {
    font-size: 34px;
    line-height: 51px;
}